@model IEnumerable<SargeStore.ViewModels.EmployeeView>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetEmployes</title>
</head>
<body>
    <table>

        <thead>
            <tr>
                <th>id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var emloyee in Model)
            {
                <tr>
                    <td>@emloyee.Id</td>
                    <td>@emloyee.Patronymic</td>
                    <td>@emloyee.FirstName</td>
                    <td>@emloyee.LastName</td>
                    <td>@emloyee.Age</td>
                </tr>
            }

        </tbody>

    </table>
</body>
</html>
