@model IEnumerable<SargeStore.ViewModels.EmployeeView>

@{ 
    ViewBag.Title = "Таблица сотрудников";
}

<h3>@ViewBag.Title</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Восзраст</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var emloyee in Model)
        {
            <tr>
                <td>@emloyee.Id</td>
                <td>@emloyee.Patronymic</td>
                <td>@emloyee.FirstName</td>
                <td><a asp-action="Details" asp-route-Id="@emloyee.Id">
                    @emloyee.LastName
                    </a>
                </td>
                <td>@emloyee.Age</td>
            </tr>
        }

    </tbody>
</table>